.block1{
    background-color: rgb(217, 217, 217);
    width: 1280px;
    height: 150px;
    margin: auto;
}

@font-face {
    font-family: "inter";
    src: url(/fonts/static/Inter-Medium.ttf);
}

body{
    margin: 0;
    background-color: rgb(237,233,233);
    font-family: "inter";
}

.block1 ul{ 
    text-align: center;
    
    padding: 0;
    
}


li{ 
    display: inline; 
    margin-right: 50px; 
    font-size: 24px; 
}   


a{
    text-decoration: none;
    color: black;
}

.brick{
    margin-left: 100px;
    position: relative;
    bottom: 45px;
    
}

.bricks{
    padding-top: 60px;
    font-size: 25px;
    margin: 0;
    margin-left: 25px;
    color: #a33636;
}

.text_head{
    position: relative;
    bottom: 115px;
    margin-left: 150px;
}

.block2{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 1280px;
    height: 2400px;
}

.rec1{
    line-height: 5px;
    margin-left: 70px;
}

.words1{
    font-size: 36px;
    position: relative;
    right: 30px;
}

.words2{
    font-size: 24px;
    margin-left: 60px;
}

.words100{
    font-size: 36px;
}

.words3{
    font-size: 24px;
    margin-left: 60px;
}

.words4{
    font-size: 36px;
    margin-left: 10px;
}

.words5{
    font-size: 24px;
    margin-left: 55px;
}

.words6{
    font-size: 36px;
    margin-left: 30px;
}

.words7{
    font-size: 24px;
    margin-left: 55px;
}

.range{
    margin-top: 50px;
}

.big_view{
    width: 772px;
    height: 772px;
    background-color: rgb(217, 217, 217);
    border-radius: 50px;
}

.view{
    width: 378px;
    height: 162px;
    background-color: rgb(217, 217, 217);
    border-radius: 50px;
    margin-top: 80px;
}

.on_map{
    width: 378px;
    height: 162px;
    background-color: rgb(217, 217, 217);
    border-radius: 50px;
    margin-left: 390px;
    position: relative;
    bottom: 210px;
}

.view1{
    font-size: 48px;
    margin-left: 70px;
    position: relative;
    top: 50px;
}

.on_map1{
    font-size: 48px;
    margin-left: 80px;
    position: relative;
    top: 50px;
}

.block3{
  width: 1280px;
  height: 360px;
  background-color: rgb(217, 217, 217);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

}

.column1{
  text-align: center;
  font-size: 24px;
}


.rolling-text {
    display: inline-block;
    font-family: "inter";
    font-size: 24px;
    line-height: 72px;
    height: 72px;
    text-decoration: none;
    overflow: hidden;
    color: #a33636;
    position: relative;
    bottom: 23px;
  }
  .rolling-text:hover .letter, .rolling-text.play .letter {
    transform: translateY(-100%);
  }
  .rolling-text .block:last-child {
    color: #000000;
  }
  .rolling-text .letter {
    display: inline-block;
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .letter:nth-child(1) {
    transition-delay: 0s;
  }
  
  .letter:nth-child(2) {
    transition-delay: 0.015s;
  }
  
  .letter:nth-child(3) {
    transition-delay: 0.03s;
  }
  
  .letter:nth-child(4) {
    transition-delay: 0.045s;
  }
  
  .letter:nth-child(5) {
    transition-delay: 0.06s;
  }
  
  .letter:nth-child(6) {
    transition-delay: 0.075s;
  }
  
  .letter:nth-child(7) {
    transition-delay: 0.09s;
  }
  
  .letter:nth-child(8) {
    transition-delay: 0.105s;
  }
  
  .letter:nth-child(9) {
    transition-delay: 0.12s;
  }
  
  .letter:nth-child(10) {
    transition-delay: 0.135s;
  }
  
  .letter:nth-child(11) {
    transition-delay: 0.15s;
  }
  
  .letter:nth-child(12) {
    transition-delay: 0.165s;
  }
  
  .letter:nth-child(13) {
    transition-delay: 0.18s;
  }
  
  .letter:nth-child(14) {
    transition-delay: 0.195s;
  }
  
  .letter:nth-child(15) {
    transition-delay: 0.21s;
  }
  
